appdirs==1.4.3
asgiref==3.2.10
attrs==19.3.0
cached-property==1.5.1
certifi==2019.11.28
chardet==3.0.4
defusedxml==0.6.0
Django==2.2.20
django-ckeditor==5.9.0
django-js-asset==1.2.2
dnspython==1.16.0
idna==2.9
isodate==0.6.0
lxml==4.5.0
mysql-connector-python==8.0.5
Pillow==7.1.0
protobuf==3.6.1
pytz==2019.3
requests==2.23.0
requests-toolbelt==0.9.1
six==1.14.0
sqlparse==0.3.1
urllib3==1.25.8
zeep==3.4.0
