{% extends 'base.html' %}
{% load static %}
{% block title %} پارسی پروژه - جزئیات محصول{% endblock %}
{% block content %}
    
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>فروشگاه</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-content-right">

                        
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="product-images">
                                    <div class="product-main-img">
                                        <img src="{{ product.pic.url }}" alt="{{ product.title }}" height="300">
                                    </div>
                                    
                                    <div class="product-gallery">
                                        {% for  gallery in product.image_gallery.all%}
                                        <img src="{{ gallery.pic.url }}" alt="{{ gallery.title }}"  height="300">
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="product-inner">
                                    <h2 class="product-name">{{ product.title }}</h2>
                                    <div class="product-inner-price">
                                        {% if product.has_discount %}
                                    {% if product.super_price == 0 %}
                                        <ins>رایگان</ins>
                                        <del>{{ product.price }}تومان</del>
                                        {% else %}
                                    <ins>{{ product.super_price }}تومان</ins>
                                    <del>{{ product.price }}تومان</del>
                                        {% endif %}
                                    {% else %}
                                    {% if product.price == 0 %}
                                        <ins>رایگان</ins>
                                        {% else %}
                                        <ins>{{ product.price }}تومان</ins>
                                     {% endif %}
                                {% endif %}
                                    </div>    
                                    
                                    <!--Add to cart-->
                                    <form action="{% url 'cart_add' product.id %}" method="post">
                                        {{ cart_product_from }}
                                        {% csrf_token %}
                                        <input type="submit" value="افزودن به سبد خريد"/>
                                    </form>
                                    
                                    <div class="product-inner-category">
                                        <p>دسته بندي:
                                            {% for category in product.category.all %}
                                                 <a href="{% url 'category' category.slug  %}">{{ category.title }}</a>
                                            {% endfor %}
                                        . تگ ها:
                                            {% for tag in product.tags.all %}
                                            <a href="">{{ tag.title }}</a>,
                                            {% endfor %}
                                    </div> 
                                    
                                    <div role="tabpanel">
                                        <ul class="product-tab" role="tablist">
                                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">توضيحات</a></li>
                                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">نظرات کاربران</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade in active" id="home">
                                                <h2>توضيحات محصول</h2>
                                                {{ product.content|safe }}
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="profile">
                                                <h2>Reviews</h2>
                                                <div class="submit-review">
                                                    <p><label for="name">Name</label> <input name="name" type="text"></p>
                                                    <p><label for="email">Email</label> <input name="email" type="email"></p>
                                                    <div class="rating-chooser">
                                                        <p>Your rating</p>

                                                        <div class="rating-wrap-post">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                    </div>
                                                    <p><label for="review">Your review</label> <textarea name="review" id="" cols="30" rows="10"></textarea></p>
                                                    <p><input type="submit" value="Submit"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="related-products-wrapper" style="direction: ltr;">
                            <h2 class="related-products-title" style="text-align: center;">برخي محصولات مرتبط</h2>
                            <div class="related-products-carousel">
                                {% for related_item in product.related_product.all|slice:":3" %}
                                <div class="single-product" style="direction: rtl;">
                                    <div class="product-f-image">
                                        <img src="{{ related_item.pic.url }}" alt="{{ related_item.title }}">

                                        <div class="product-hover">
                                            <!--<a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>-->
                                            <form action="{% url 'cart_add' related_item.id %}" method="post">
                                                {{ cart_product_from }}
                                                {% csrf_token %}
                                                <input class="add-to-cart-link" type="submit" value="افزودن به سبد"/>
                                            </form>
                                            <a href="{{ related_item.get_absolute_url }}" class="view-details-link"><i class="fa fa-link"></i> مشاهده جرئیات</a>
                                        </div>
                                    </div>

                                    <h2><a href="{{ related_item.get_absolute_url }}">{{ related_item.title }}</a></h2>

                                    <div class="product-carousel-price">
                                        {% if related_item.has_discount %}
                                    {% if related_item.super_price == 0 %}
                                        <ins>رایگان</ins>
                                        <del>{{ related_item.price }}تومان</del>
                                        {% else %}
                                    <ins>{{ related_item.super_price }}تومان</ins>
                                    <del>{{ related_item.price }}تومان</del>
                                        {% endif %}
                                    {% else %}
                                    {% if related_item.price == 0 %}
                                        <ins>رایگان</ins>
                                        {% else %}
                                        <ins>{{ related_item.price }}تومان</ins>
                                     {% endif %}
                                {% endif %}
                                    </div> 
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>

{% endblock %}