{% extends 'base.html' %}
{% load static %}
{% block title %} پارسی پروژه - ورود {% endblock %}
{% block content %}
     <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>ورود</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form method="POST">
        {% csrf_token %}
        <p>
            <label>نام کاربری</label>
            <input type="text" name="username">
        </p>
        <p>
            <label>رمز عبور</label>
            <input type="password" name="password">
        </p>
        <button type="submit">ورود</button>
    </form>
    <br />
    <a href="{% url 'register' %}">ثبت نام</a>
{% endblock %}